/* google font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap');

/** Created by Ruben Mortagua */
html, body {
    font-family: 'Noto Sans', sans-serif;
    padding: 0;
    margin: 0;
}

/** PAGE HEADER */

header.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;

    background-color: #0002;
    height: 70px;
}

/** Page Logo */
header.page-header > img {
    height: 70px;
    aspect-ratio: 1 / 1;
}

/** Title */
header.page-header > h1 {
    margin: 0;
}

/** page */
header.page-header > ul {
    display: flex;
    list-style: none;
    margin-right: 15px;
    padding-left: 0;
}

header.page-header > ul > li {
    padding: 0 10px;
    border-right: 1px solid black;
}

header.page-header > ul > li:last-child {
    border: none;
}
